main,footer {
	padding-left: 240px;
}

nav .nav-wrapper a {
	color: #fff;
}

.manga_page {
	padding: 5px;
}
.page_previus_next:hover{
	opacity: 0.3;
	background-color: #000;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.footer-copyright a{
	color: #fff;
	font-weight: bold;
}

img.img_loading {
	opacity: 0.3;
}